fastapi~=0.111.0
loguru~=0.7.2
pydantic~=2.8.2
pydantic_settings~=2.3.4
starlette~=0.37.2
numpy~=1.26.4
anyio~=4.4.0
typer~=0.12.3
sentence_transformers~=3.0.1
scipy~=1.14.0
scikit-learn~=1.5.1
jieba~=0.42.1
pydantic-settings~=2.3.4
sentence-transformers~=3.0.1